<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rkapoors.cgpacalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cgpa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".spalsh"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="rkapoors.apppractice.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".first"
            android:windowSoftInputMode="adjustResize" />   <!--To make a edit text focusable after keyboard has appeared on tapping the edit text-->
        <activity
            android:name=".second"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".third"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fourth"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fifth"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".sixth"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".seventh"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".eighth"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>